
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200');
body {
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 0%;
  font-style: italic;
  background-image: url('https://static.pexels.com/photos/414171/pexels-photo-414171.jpeg');
  background-size: cover;
  -webkit-animation: slidein 100s;
  animation: slidein 100s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

@-webkit-keyframes slidein {
  from {
    background-position: top;
    background-size: 3000px;
  }
  to {
    background-position: -100px 0px;
    background-size: 2750px;
  }
}

@keyframes slidein {
  from {
    background-position: top;
    background-size: 3000px;
  }
  to {
    background-position: -100px 0px;
    background-size: 2750px;
  }
}

header {
  color: #2c2b2b;
  padding: 1px;
  text-align: center;
  font-size: 10px;
  height: 0px;
  line-height: 30px;
  font-style: normal;
  
}

.header-text {
  display: inline; /* Transformă elementul într-un element inline */
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.chat-window {
  width: 400px;
  border-style:groove;
  overflow: hidden;
  background-color: #939393;
  border-radius: 8;
  
}

.chat-area {
  height: 400px;
  overflow-y: scroll;
  padding: 20px;
}

.chat-messages {
  display: flex;
  flex-direction: column;
  font-family: 'Courier New', Courier, monospace;
}

.message {
  margin-bottom: 10px;
  background-color: #d9d6d6;
  padding: 10px;
  border-radius: 4px;
  position: relative;
  animation: slideIn 0.4s;
}

.message .delete-button {
  position: absolute;
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
  display: none;
  cursor: pointer;
}

.message:hover .delete-button {
  display: block;
}

.user-input {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #fff;
}

#message-input {
  flex-grow: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#send-button {
  padding: 8px 16px;
  margin-left: 10px;
  background-color: rgb(253, 206, 223);
  border: 1px solid;
  border-radius: 15px;
  color: #000000;
  cursor: pointer;
}

#send-button:hover {
  background-color: #e6c4eb;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(75, 75, 250, 0.3);
  border-radius: 3px;
}

h1 {
  color: rgb(113, 80, 92);
  border-bottom: 1px solid;
}

